// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$dark-gray: #828282;
$gray: #C4C4C4;
$light-gray: #F2F2F2;
