.cards-container {
  // background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448368/img_parallax_om2x8f.jpg');
  // background-size: cover !important;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  color: black;
  padding-bottom: 40px;
  h3 {
    font-size: 24px;
    margin: 40px 0 15px 0;
  }
}
