<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art12.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
  </div>
  <a class="card-link" href="#" ></a>
</div>



