<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art12.jpg');">
  <a class="card-link" href="#" ></a>
</div>



