<div class="footer">
  <div class="footer-links">
    <a href="https://sites.google.com/view/jessicachoonguk/home" target="_blank"><i class="fa fa-google"></i></a>
    <a href="https://www.facebook.com/jessica.choong.7" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/jessica-choong/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/jykc" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/jykc8/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    This site was made with <i class="fa fa-heart"></i> by Jess 2018
  </div>
</div>
