<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <form action="">
        <label for="your-email">Your email</label>
        <input type="email" id="your-email" placeholder="bob@gmail.com">
        <label for="your-message">Message</label>
        <input type="text" id="your-message" placeholder="Type your message here...">
        <input type="submit" value="Submit" class="btn btn-gray">
          <!-- Your form content -->
        </form>
      </div>
  </div>
</div>
