<!--Carousel-->
<div class="carousel-container">
  <div class="modal fade and carousel slide" id="lightbox">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Artwork</h4>
        </div>
        <div class="modal-body">
          <ol class="carousel-indicators">
            <li data-target="#lightbox" data-slide-to="0" class="active"></li>
            <li data-target="#lightbox" data-slide-to="1"></li>
            <li data-target="#lightbox" data-slide-to="2"></li>
            <li data-target="#lightbox" data-slide-to="3"></li>
            <li data-target="#lightbox" data-slide-to="4"></li>
            <li data-target="#lightbox" data-slide-to="5"></li>
            <li data-target="#lightbox" data-slide-to="6"></li>
            <li data-target="#lightbox" data-slide-to="7"></li>
            <li data-target="#lightbox" data-slide-to="8"></li>
            <li data-target="#lightbox" data-slide-to="9"></li>
            <li data-target="#lightbox" data-slide-to="10"></li>
            <li data-target="#lightbox" data-slide-to="11"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/artwork/artwork1.jpg" alt="Artwork First Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork2.jpg" alt="Artwork Second Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork3.jpg" alt="Artwork Third Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork4.jpg" alt="Artwork Fourth Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork5.jpg" alt="Artwork Fifth Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork6.jpg" alt="Artwork Sixth Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork7.jpg" alt="Artwork Seventh Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork8.jpg" alt="Artwork Eighth Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork9.jpg" alt="Artwork Ninth Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork10.jpg" alt="Artwork Tenth Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork11.jpg" alt="Artwork Eleventh Slide">
            </div>
            <div class="item">
              <img src="assets/artwork/artwork12.jpg" alt="Artwork Twelth Slide">
            </div>
          </div><!-- /.carousel-inner -->
          <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Cards -->
<div class="cards-container">
  <div class="container">
  <h3>ARTWORK</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448127/artwork1_riam4t.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="0"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448126/artwork2_vxjipp.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="1"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448130/artwork3_yjywl9.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="2"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448129/artwork4_j4x8qk.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="3"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448130/artwork5_g6iook.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="4"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448130/artwork6_rrwobi.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="5"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image:  url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448131/artwork7_obszbn.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="6"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448132/artwork8_efzwsw.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="7"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448135/artwork9_ia7u3i.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="8"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448135/artwork10_nj1gfy.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="9"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448140/artwork11_ivtes0.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="10"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448135/artwork12_ocgd1y.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="11"></a>
        </div>
      </div>
    </div>
  </div>
</div>


