<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927956/artwork/art4.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="cards-container">
  <div class="container">
  <h3>ARTWORK</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art4.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art5.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art1.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_fill,g_north,h_600,w_800/v1505927968/artwork/art7.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_fill,g_north,h_600,w_800/v1505927972/artwork/art8.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_scale,h_600,w_800/v1505927980/artwork/art10.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_crop,g_north,h_600,w_800/v1505927976/artwork/art9.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art11.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art12.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>


