<!-- Modals -->
<div class="modal fade bs-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/1.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/2.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/3.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/4.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/5.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/6.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/7.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/8.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/9.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/9.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927947/artwork/11.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1505927976/artwork/10.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artwork</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <img class="modal-image" src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1508326302/artwork/12.jpg" alt="Life Drawing">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Cards -->
<div class="cards-container">
  <div class="container">
  <h3>ARTWORK</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/1.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal1" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/2.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal2" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/3.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal3" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_fill,g_north,h_600,w_800/v1505927968/artwork/4.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal4" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_fill,g_north,h_600,w_800/v1505927972/artwork/5.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal5" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_scale,h_600,w_800/v1505927980/artwork/6.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal6" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_crop,g_east/v1505927964/artwork/7.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal7" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/8.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal8" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/9.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal9" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_crop,g_north_west,h_500,w_600/v1505927947/artwork/10.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal10" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_crop,g_north,h_500,w_800/v1505927976/artwork/11.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal11" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1508326302/artwork/12.jpg');">
          <a class="card-link" data-toggle="modal" data-target="#myModal12" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>


