
<div class="cards-container">
  <div class="container">
  <h3>ARTWORK</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4" onclick="openModal();currentSlide(1)" class="hover-shadow">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art1.jpg');">

        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_lfill,g_north,h_600,w_800/v1505927947/artwork/art2.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_crop,g_north_east,h_600,w_800/v1505927951/artwork/art3.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art4.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art5.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art6.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_fill,g_north,h_600,w_800/v1505927968/artwork/art7.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_fill,g_north,h_600,w_800/v1505927972/artwork/art8.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_scale,h_600,w_800/v1505927980/artwork/art10.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dnvhnyuny/image/upload/c_crop,g_north,h_600,w_800/v1505927976/artwork/art9.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art11.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dnvhnyuny/image/upload/v1505927988/artwork/art12.jpg');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
