<div class="contact-container">
  <div class="contact-content">
    <h3 id="contact">CONTACT</h3>
    <p>I'm keen to learn and gain coding experience. If you would like to work with me or you have a project that you think I might be interested in, please don't hesitate to get in touch!</p>
    <p>Send a message to: jessicachoonguk@gmail.com</p>

  </div>
</div>
