<!-- JavaScript for backtotop button -->
<script>
  $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

  });
</script>

<div id="home" class="banner parallax" style="background-image">
  <div class="banner-content">
    <h1 id="about">JESSICA CHOONG</h1>
    <h2>FRONT-END WEB DEVELOPER</h2>
  </div>
</div>

<div class="about-container">
  <div class="about-content">
    <h3>ABOUT</h3>
    <p>Recently completed a 9-week intensive coding bootcamp with
    <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a> where I learnt some HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, Git, GitHub, Heroku and Ruby on Rails. Now attempting to make the exciting, but scary move into web development. Particularly interested in design and front-end work.</p>
    <p>Born and raised in London, located in the East, Wapping. Attended UCL - BSc in Information Management. Previous experience in application support for print and online business information services.</p>
    <p>Likes: Thai food, hiking, arts and crafts, yoga, tango, sloths</p>
    <br>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19866.511703760993!2d-0.08418716737821286!3d51.50745574663506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760336f84b7259%3A0xf21bdbd10d67f55b!2sWapping%2C+London+E1W+2AG!5e0!3m2!1sen!2suk!4v1518388847641" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="banner2 parallax" style="background-image">
</div>

<div id="projects" class="projects-and-contact-container">
  <div class="projects-and-contact-content">
    <h3>PROJECTS</h3>
    <p><b><a href="https://jykc.github.io/beijingcottage/index.html" target="_blank">BEIJING COTTAGE</a></b> - Marketing website for the Chinese Restaurant Beijing Cottage in Croydon.</p>
    <p><b><a href="https://jykc.github.io/hungrymonkey/index.html" target="_blank">HUNGRY MONKEY</a></b> - Marketing website for Chinese street food events stall Hungy Monkey.</p>
    <p><b><a href="" target="_blank">MR COCKTAIL</a></b> - Le Wagon exercise to create a site for cocktail recipes.</p>
    <p><b><a href="" target="_blank">RHS LILY GROUP</a></b> - Mock up for website to host contact details, membership infomation, newsletters etc for the RHS Lily Group.</p>
    <p><b><a href="" target="_blank">LEARN DUTCH</a></b> - Mock up for Language web app to learn and test your Dutch vocab.</p>
    <p><b><a href="" target="_blank">OTILLIE</a></b> - Online fashion shop (coming soon).</p>
    <p><b><a href="" target="_blank">LEARN SPANISH</a></b> - Language web app to learn and test your Spanish vocab (coming soon).</p>

    <p>Find me on <a href="https://www.freecodecamp.org/jykc" target="_blank">freeCodeCamp</a>, <a href="https://codepen.io/jykc/#" target="_blank">CodePen</a>, <a href="https://www.codecademy.com/jessc828" target="_blank">Codecademy</a> and <a href="https://github.com/jykc" target="_blank">GitHub</a>.</p>

    <h3 id="contact">CONTACT</h3>
    <p>I'm keen to learn and gain coding experience. If you would like to work with me, have a project that you think I might be interested in, or would like to see my CV (I am going to be looking for full-time work to start from April 2018) please don't hesitate to get in touch!</p>
    <p>Use the form below or send a message to jessicachoonguk@gmail.com.</p>

    <div class="form-container">
      <form action="https://formspree.io/jessicachoonguk@gmail.com"
      method="POST">
        <div class="form-email">
          <input type="email" name="_replyto" class="email" placeholder="Email">
        </div>
        <div class="form-text">
          <textarea name="name" class="message" placeholder="Your message..."></textarea>
        </div>
        <div class="form-submit">
          <input type="submit" value="Submit" class="submit-button">
        </div>
      </form>
    </div>

    <p>You can also find me on social media.</p>
    <p><a href="https://www.facebook.com/jessica.choong.7" target="_blank"><i class="fa fa-facebook"></i></a>   <a href="https://www.linkedin.com/in/jessica-choong/" target="_blank"><i class="fa fa-linkedin"></i></a>   <a href="https://github.com/jykc" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/jykc8/" target="_blank"><i class="fa fa-instagram"></i></a></p>


    <!-- Backtotop button -->
    <%= render 'shared/backtotop' %>

  </div>
</div>


