<div id="home" class="banner parallax" style="background-image">
  <div class="banner-content">
    <h1 id="about">JESSICA CHOONG</h1>
    <h2>FRONT-END WEB DEVELOPER</h2>
  </div>
</div>

<div class="about-container">
  <div class="about-content">
    <h3>ABOUT</h3>
    <p>Recently completed a 9-week intensive coding bootcamp with Le Wagon where I learnt some HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, Git, GitHub, Heroku and Ruby on Rails. Now attempting to make the scary move into web development. Particularly interested in design and front-end work.</p>
    <p>Born and raised in London. Attended UCL - BSc in Information Management. Previous experience in application support for print and online business information services.</p>
    <p>Likes: Thai food, hiking, arts and crafts, yoga, tango, sloths</p>
  </div>
</div>

<div class="banner2 parallax" style="background-image">
</div>

<div class="projects-and-contact-container">
  <div class="projects-and-contact-content">
    <h3 id="projects">PROJECTS (coming soon)</h3>
    <p>HUNGRY MONKEY - Marketing website for a friend's Chinese street food stall</p>
    <p>LEARN DUTCH - Language web app to learn and test your Dutch vocab</p>
    <p>CLINICAL METADATA - Front-end work for clinical metadata application</p>
    <p>OTTILIE - Online fashion</p>
    <h3 id="contact">CONTACT</h3>
    <p>I'm keen to learn and gain coding experience. If you would like to work with me or you have a project that you think I might be interested in, please don't hesitate to get in touch!</p>
    <p>Send a message to: jessicachoonguk@gmail.com</p>
  </div>
</div>


