<!-- JavaScript for backtotop button -->
<script>
  $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

  });
</script>

<!--Carousel-->
<div class="carousel-container">
  <div class="modal fade and carousel slide" id="lightbox">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Owls</h4>
        </div>
        <div class="modal-body">
          <ol class="carousel-indicators">
            <li data-target="#lightbox" data-slide-to="0" class="active"></li>
            <li data-target="#lightbox" data-slide-to="1"></li>
            <li data-target="#lightbox" data-slide-to="2"></li>
            <li data-target="#lightbox" data-slide-to="3"></li>
            <li data-target="#lightbox" data-slide-to="4"></li>
            <li data-target="#lightbox" data-slide-to="5"></li>
            <li data-target="#lightbox" data-slide-to="6"></li>
            <li data-target="#lightbox" data-slide-to="7"></li>
            <li data-target="#lightbox" data-slide-to="8"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871839/owls1_cumq24_h2iwh1.jpg" alt="Owls First Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871836/owls2_as8oik_zfsmqi.jpg" alt="Owls Second Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871834/owls3_ei8d07_zge9vk.jpg" alt="Owls Third Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871833/owls4_cuq32e_jddvt5.jpg" alt="Owls Fourth Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871829/owls5_eo9o8e_vuqyi6.jpg" alt="Owls Fifth Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871839/owls6_ronflx_e9utz3.jpg" alt="Owls Sixth Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871838/owls7_bqe5ck_oacizb.jpg" alt="Owls Seventh Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871824/owls8_qjoefq_yepft6.jpg" alt="Owls Eighth Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871838/owls9_v06hso_fwxchm.jpg" alt="Owls Ninth Slide">
            </div>
          </div><!-- /.carousel-inner -->
          <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div><!-- /.container -->
<!-- Carousel end -->
<div class="cards-container">
  <div class="container">
      <h3><%= link_to photos_path, :class => "photo-link" do %>PHOTOS<% end %> > OWLS AT LEEDS CASTLE</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871839/owls1_cumq24_h2iwh1.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="0"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871836/owls2_as8oik_zfsmqi.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="1"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871834/owls3_ei8d07_zge9vk.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="2"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871833/owls4_cuq32e_jddvt5.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="3"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871831/owls5card_rq4zfu_wtmhd6.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="4"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871827/owls6card_ntfads_uwzohr.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="5"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871838/owls7_bqe5ck_oacizb.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="6"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871835/owls8card_clcpxe_o6c8vt.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="7"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1520871838/owls9card_p34azk_vz1k3m.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="8"></a>
          </div>
        </div>
      </div>
    <!-- Backtotop button -->
    <%= render 'shared/backtotop' %>
  </div>
</div>

