
<div class="cards-container">
  <div class="container">
    <div class="photo-container">
      <h3>PHOTO ALBUMS</h3>
      <!--Cards-->
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
          <%= link_to owls_path, :class => "photo-card" do %>
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448221/owls1_cumq24.jpg');">
            <div class="card-category">Owls at Leeds Castle</div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
          <%= link_to flowers_path, :class => "photo-card" do %>
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448198/flowers2_wdvuv6.jpg');">
            <div class="card-category">Flowers</div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
          <%= link_to streetart_path, :class => "photo-card" do %>
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448311/streetart3_ubnbv2.jpg');">
            <div class="card-category">Buenos Aires Street Art</div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
          <%= link_to thailand_path, :class => "photo-card" do %>
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448328/thailand1card_vdwa7u.jpg');">
            <div class="card-category">Thailand</div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
