<!-- JavaScript for backtotop button -->
<script>
  $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

  });
</script>

<!--Carousel-->
<div class="carousel-container">
  <div class="modal fade and carousel slide" id="lightbox">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Buenos Aires Street Art</h4>
        </div>
        <div class="modal-body">
          <ol class="carousel-indicators">
            <li data-target="#lightbox" data-slide-to="0" class="active"></li>
            <li data-target="#lightbox" data-slide-to="1"></li>
            <li data-target="#lightbox" data-slide-to="2"></li>
            <li data-target="#lightbox" data-slide-to="3"></li>
            <li data-target="#lightbox" data-slide-to="4"></li>
            <li data-target="#lightbox" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448278/streetart1_qri6ju.jpg" alt="Buenos Aires Street Art First Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448289/streetart2_m6vjto.jpg" alt="Buenos Aires Street Art Second Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448311/streetart3_ubnbv2.jpg" alt="Buenos Aires Street Art Third Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448315/streetart4_ndqwrv.jpg" alt="Buenos Aires Street Art Fourth Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448314/streetart5_euq6rt.jpg" alt="Buenos Aires Street Art Fifth Slide">
            </div>
            <div class="item">
              <img src="http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448323/streetart6_deuhsn.jpg" alt="Buenos Aires Street Art Sixth Slide">
            </div>
          </div><!-- /.carousel-inner -->
          <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div><!-- /.container -->
<!-- Carousel end -->

<div class="cards-container">
  <div class="container">
      <h3><%= link_to photos_path, :class => "photo-link" do %>PHOTOS<% end %> > BUENOS AIRES STREET ART</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448278/streetart1_qri6ju.jpg');">
          <!-- <a class="card-link" data-toggle="modal" data-target="#myModal1" href="#" ></a> -->
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="0"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448289/streetart2_m6vjto.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="1"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448311/streetart3_ubnbv2.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="2"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448315/streetart4_ndqwrv.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="3"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448314/streetart5_euq6rt.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="4"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: url('http://res.cloudinary.com/dnvhnyuny/image/upload/v1518448323/streetart6_deuhsn.jpg');">
          <a class="card-link" href="#lightbox" data-toggle="modal" data-slide-to="5"></a>
          </div>
        </div>
      </div>
    <!-- Backtotop button -->
    <%= render 'shared/backtotop' %>
  </div>
</div>


