
<div class="cards-container">
  <div class="container">
  <h3>PHOTOS</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Owls at Leeds Castle</div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <!-- insert <div class="card"> -->
        <%= render 'shared/photoalbumcard' %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <!-- insert <div class="card"> -->
        <%= render 'shared/photoalbumcard' %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <!-- insert <div class="card"> -->
        <%= render 'shared/photoalbumcard' %>
      </div>
    </div>
  </div>
</div>
